* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

body {
  background-color: #212121;
}

.card {
  width: 700px;
  background-color: #ccc;
  padding: 20px;
  margin: 20px;
  line-height: 28px;
}

/* scrollbar */
::-webkit-scrollbar {
  background-color: transparent;
  width: 10px;
  border: 2px dashed #ccc;
}

::-webkit-scrollbar-thumb {
  background-color: #ccc;
  border-radius: 100px;
}
