* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  background-color: #111;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.input-container  {
  padding: 20px 0;
  input, select {
    width: 80px;
    height: 30px;
    border: none;
    outline: none;
    border-radius: 5px;
  }
}

#calc-btn {
  padding: 5px 20px;
  width: 100px;
  cursor: pointer;
  outline: none;
  border: none;
  border-radius: 5px;
}

#result {
  color: #fff;
  padding: 20px;
  font-size: 50px;
}