body {
  display: flex;
  gap: 0 20px;
  justify-content: space-around;
  align-items: center;
  font-family: sans-serif;
  background: #000;
  height: 100vh;
}

.card-1 {
  position: relative;
  width: 320px;
  padding: 40px;
  background: #fff;
  overflow: hidden;
  &::before {
    content: "";
    position: absolute;
    left: 0;
    bottom: calc(-100% + 5px);
    width: 100%;
    height: 100%;
    background: blueviolet;
    z-index: 1;
    transition: 1s;
  }
  &:hover::before {
    bottom: 0;
  }
  .content {
    position: relative;
    color: #000;
    z-index: 2;
    transition: 1s;
    h2 {
      font-size: 30px;
    }
    p {
      line-height: 25px;
      padding: 20px 0;
      margin: 20px 0;
    }
    a {
      font-size: 12px;
      color: #fff;
      text-decoration: none;
      background: rgb(22, 7, 35);
      padding: 0.6rem 1rem;
    }
  }
  &:hover .content {
    color: #fff;
  }
}

.card-2 {
  position: relative;
  width: 30rem;
  height: 30rem;
  background: #fff;
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.5);
  &::before,
  &::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #fff;
    transition: 1s;
    z-index: -1;
  }
  &:hover::before,
  &:hover::after {
    box-shadow: 0 2px 20px rgba(0, 0, 0, 0.2);
  }
  &:hover::before {
    transform: rotate(20deg);
  }
  &:hover::after {
    transform: rotate(10deg);
  }
  .imgBox {
    position: absolute;
    top: 10px;
    left: 10px;
    bottom: 10px;
    right: 10px;
    background: #222;
    transition: 1s;
    z-index: 2;
    img {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
  &:hover .imgBox {
    bottom: 80px;
  }
  .details {
    position: absolute;
    left: 10px;
    right: 10px;
    bottom: 10px;
    height: 60px;
    text-align: center;
  }
}
