* {
  box-sizing: border-box;
}

body {
  background-color: rgb(14, 13, 13);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  overflow: hidden;
  margin: 0;
}

.empty {
  height: 200px;
  width: 200px;
  margin: 10px;
  border: 3px solid white;
  background-color: white;
}

.fill {
  background-image: url("https://images.unsplash.com/photo-1770287691979-6b8ec41f5331?q=80&w=1170&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
  height: 195px;
  width: 195px;
  cursor: pointer;
}

.hovered {
  background-color: green;
  border: 3px dashed white;
}

@media (max-width: 800px) {
  body {
    flex-direction: column;
  }
}