* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  height: 100dvh;
  display: flex;
  gap: 0 5rem;
  justify-content: center;
  align-items: center;
  font-family: sans-serif;
}

.container-1 {
  width: 30rem;
  height: 30rem;
  position: relative;
  overflow: hidden;
  img {
    width: 100%;
    transition: all 1s;
  }
  .content {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #fff;
    padding: 0 2rem;
    transition: all 1s;
    background: #222831;
    transform: translateX(-100%);
  }
  &:hover .content {
    transform: translateX(0);
  }
  &:hover img {
    transform: translateX(100%);
  }
}

.container-2 {
  width: 30rem;
  height: 30rem;
  position: relative;
  overflow: hidden;
  img {
    width: 100%;
    transition: all 0.5s;
  }
  .content {
    position: absolute;
    bottom: 0;
    left: 0;
    height: 30%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #fff;
    padding: 0 2rem;
    transition: all 0.5s;
    background: #222831;
    transform: translateY(100%);
  }
  &:hover .content {
    transform: translateX(0);
  }
  &:hover img {
    transform: translateY(-10%) scale(1.2);
  }
}

.card {
  position: relative;
  width: 30rem;
  height: 30rem;
  background-color: #000;
  box-shadow: 0px 30px 30px rgba(0, 0, 0, 0.5);
  .img-container {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    img {
      transition: 1s;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
  .content {
    position: absolute;
    bottom: 0px;
    left: 10%;
    width: 80%;
    height: 10px;
    background: #222831;
    text-align: center;
    transition: 0.5s;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    h3 {
      font-size: 30px;
      text-transform: uppercase;
      margin: 25px;
      color: #fff;
    }
    p {
      width: 80%;
      margin: 10px auto;
      font-size: 18px;
      transition: 0.5s;
      opacity: 0;
      line-height: 25px;
      color: #fff;
    }
  }
  &:hover .img-container {
    img {
      opacity: 0;
    }
  }
  &:hover .content {
    height: 100%;
    width: 100%;
    left: 0;
    p {
      opacity: 1;
      transition-delay: 0.2s;
    }
  }
}
