body {
  height: 90vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #000000;
  transition: .3s cubic-bezier(0.215, 0.61, 0.355, 1);
}

button {
  padding: 15px;
  font-weight: 700;
  background-color: transparent;
  border: 2px solid white;
  border-radius: 10px;
  color: white;
  cursor: pointer;
  transition: 0.8s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  &:hover {
    background-color: #fff;
    color: #000;
  }
}

h2 {
  color: #fff;
  font-weight: 200;
}